<div class="row pt-5">
  <div class="col-md-6 mx-auto">
   <div class="card rounded-0">
     <div class="card-header">
       <h3 class="mb-0">DataForm</h3>
     </div>
     <div class="card-body">
      <form #registerForm="ngForm" id="registerForm" (ngSubmit)="updateUsers()">
        <input [(ngModel)] ="userData._id" name="id"  type="hidden" class="form-control rounded-0" required>

        <div class="form-group">
          <label for="">Name</label>
          <input [(ngModel)] ="userData.name" name="Name"  type="text" class="form-control rounded-0" required>
        </div>

        <div class="form-group">
          <label for="">SurName</label>
          <input [(ngModel)] ="userData.surname" name="surname"  type="text" class="form-control rounded-0" required>
        </div>

        <div class="form-group">
          <label for="">Email</label>
          <input [(ngModel)] ="userData.email" name="name"  type="text" class="form-control rounded-0" required>
        </div>

        <div class="form-group">
          <label for="">Programming Language.</label>
          <input [(ngModel)] ="userData.programmingLanguage" name="name"  type="text" class="form-control rounded-0" required>
        </div>
        
        <div class="container">
          <div class="row">
            <div class="col-sm">
               <button (click) ="postUsers()" type="button" class="btn btn-primary float-right"> Save</button><div></div>
               <button form="registerForm" type="submit" class="btn btn-secondary float-right">edit</button>
            </div>
  
    
  
      </div>
    </div> 
      </form>
     </div>
   </div>
  </div>
  
  

  <div>
    <h1>Welcome to my BotsZA CRUD Profile</h1>
    <table>
       <thead>
          <tr>

             <th>Name</th>
             <th>Email</th>
             <th>Surname</th>
             <th>Coding Language</th>
  
          </tr>
       </thead>
       <tbody>
          <tr *ngFor="let person of users">
            <td (click)="populateForm(person)" >{{person.name}}</td><br>
            <td (click)="populateForm(person)" >{{person.email}}</td><br>
            <td (click)="populateForm(person)">{{person.surname}}</td><br>
            <td (click)="populateForm(person)">{{person.programmingLanguage}}</td><br>

          
             <td>
              

             </td>
          </tr>
       </tbody>
    </table>
 </div>
  
  </div>